.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2vw 10vw;
    cursor: pointer;
    gap: 5%;
}

.navbar img{
    width: 15%;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vw;
    font-size: 1.5vw;

}

.nav-connect{
    padding: 1.5vw 2vw;
    border-radius: 50px;
    background: linear-gradient(267deg , #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 1.5vw;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect a{
    text-decoration: none;
}

.nav-connect:hover{
    transform: scale(1.05);
}





@media screen and (max-width: 600px) {
    .nav-menu {
        font-size: 2vw;
    }
    .nav-connect{
        padding: 1.5vw 5vw;
        font-size: 2vw;
    }
    .navbar img {
        width: 20%;
    }
}


  